*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #e3edf7;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba( 34, 42, 66, 0);
    background: linear-gradient(#95b89c,#113a3d);
}

.navbar {
  background-color: #0cb6e5;
  padding: 1rem 0;
}

/* Style for the navbar brand */
.navbar-brand {
  font-weight: bold;
}

#analytic-graph{
    background: #9028bd;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#95b89c,#113a3d);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;

}

.chart{
    padding: 2rem;
    border: 1px solid #f49131;
    border-radius: 1rem;
    background: #251c35;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}